data/*
.idea/
.claude/
.env
__pycache__/
*.pyc
.DS_Store
.venv/
queries.db
queries_empty.db
*.log
*.zip
scotus/hold/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.gstack/
